/vendor
/node_modules
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
/public/hot
/public/storage
/storage/*.key
/storage/app/public/*
/storage/app/purifier/*
/storage/debugbar/*
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.vscode
*.sqlite
*.sublime-workspace
.DS_Store
.git
.github
docker-compose*.yml
