
.icon svg, svg.svg-icon {
  width: 1em;
  height: 1em;
  fill: currentColor;
}

/* lets dropdown triggers stack in a row of buttons on the right side */
.buttons.has-addons .dropdown:not(:first-child) .button {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.buttons.has-addons.with-dropdown .button {
    margin-bottom: 0;
}

/* event permalinks */

.event .segment {
    margin-bottom: 1em;
}

.event .event-name {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.event .date.segment, .event .location.segment, .event .website.segment {
    font-size: 1.5em;
    line-height: 1.2em;
}

.event .segment.with-icon {
    display: grid;
    grid-template-columns: 40px auto;
}

.event .segment.with-icon .icon {
    align-self: center;
}

.event .date .time {
    font-weight: 300;
}

.event .responses, .event .description {
    max-width: 75ch;
    border-top: 1px #ddd solid;
    padding-top: 20px;
}

.event .description img {
    max-width: 100%;
}

.event .rsvps li.avatar {
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
}

.event .rsvps li.avatar img {
    width: 48px;
    border-radius: 4px;
    margin-right: 0.5em;
}

/* event list */

.event-list .event {
    margin-bottom: 1em;
}

.event-list .event h3 {
    font-weight: bold;
    font-size: 1.2em;
}


