
.hidden {
    display: none;
}

.icon svg, svg.svg-icon {
  width: 1em;
  height: 1em;
  fill: currentColor;
}

/* lets dropdown triggers stack in a row of buttons on the right side */
.buttons.has-addons .dropdown:not(:first-child) .button {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.buttons.has-addons.with-dropdown .button {
    margin-bottom: 0;
}

.event-form {
    max-width: 75ch;
}

/* event permalinks */

.event .segment {
    margin-bottom: 1em;
}

.event .event-name {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.event .date.segment, .event .location.segment, .event .website.segment {
    font-size: 1.5em;
    line-height: 1.2em;
}

.event .segment.with-icon {
    display: grid;
    grid-template-columns: 40px auto;
}

.event .segment.with-icon .icon {
    align-self: center;
}

.event .date .time {
    font-weight: 300;
}

.event .responses, .event .description {
    max-width: 710px;
    border-top: 1px #ddd solid;
    padding-top: 20px;
    padding-bottom: 20px;
}

.event .description img {
    max-width: 100%;
}

.event .add-to-calendar {
    font-size: 0.75em;
}

.event .rsvps ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media(max-width: 420px) {
    .event .rsvps ul {
        grid-template-columns: 1fr 1fr;
    }
}

.event .responses li .avatar {
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
}

.event .responses li .avatar img {
    width: 48px;
    border-radius: 4px;
    margin-right: 0.5em;
}

.event .responses li {
    margin-bottom: 0.5em;
}

.event .blog_posts .post-name {
    font-size: 1.2em;
    font-weight: bold;
}

.event .comments li {
    margin-top: 1em;
}

.event .comments .comment-content {
    display: block;
    font-size: 1.1em;
    white-space: pre-wrap;
}

.event .comments .author-details {
    line-height: 1em;
}
.event .comments a.author-name {
    display: block;
}
.event .comments a.author-url {
    color: #888;
    font-size: 0.8em;
}

.event .comments .meta {
    display: block;
    font-size: 0.8em;
    margin-top: 0.5em;
}

.event .comments .meta a {
    color: #888;
}
.event .comments .meta a:hover {
    text-decoration: underline;
}

/* event list */

.event-list .event {
    margin-bottom: 1em;
}

.event-list .event h3 {
    font-weight: bold;
    font-size: 1.2em;
}


/**
 * Photo Albums
 */

.photo-album {
  background: #fff;
  /*border-left: 1px #ccc solid;*/
  /*border-right: 1px #ccc solid;*/
  /* max-width: 617px; */
  margin: 0 auto;
  padding: 2px;
  font-size: 0;
}
ul.photo-album {
  list-style-type: none;
  /* display: grid is for fallback if the JS doesn't load.
     the JS will change the display mode to remove the grid */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4px;
}
ul.photo-album li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.photo-album img {
  vertical-align: bottom;
  margin: 2px; /* 2px on each img makes a 4px gap between images */
  outline: 1px solid rgba(0, 0, 0, 0.1);
  outline-offset: -1px;
}


